body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    background-color: #11171f;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(233, 189, 79);
    text-align: center;
}

#result-section {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#result {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#result-explanation {
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

#score-counter-section {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 3rem;
    gap: 8rem;
}

#player-side, #computer-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#player-choice-icon, #computer-choice-icon {
    color: #F9FAF8;
    font-size: 6rem;
}

#player-score-counter, #computer-score-counter {
    color: #F9FAF8;
    font-weight: bold;
}

#buttons-section {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#rock-btn, #paper-btn, #scissors-btn {
    border: 0;
    background-color: #4a4f57;
    color: #F9FAF8;
    font-size: 6rem;
    height: 10%;
    aspect-ratio: 1/1;
    border-radius: 0.75rem;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.7);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #F9FAF8;
    padding-bottom: 0.5rem;
}


#winner-announcement-overlay {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#winner-announcement-box {
    background-color: #1F2937;
    height: 11rem;
    width: 17rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#winner-announcement {
    text-align: center;
    color: #F9FAF8;
    font-size: 2rem;
    font-weight: bold;
}

#play-again-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #4a4f57;
    color: #F9FAF8;
    font-size: 1.5rem;
    border-radius: 0.75rem;
    border: 0;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.7);
}

#rock-btn:hover, #paper-btn:hover, #scissors-btn:hover, #play-again-button:hover {
    background: #52565c;
}

#rock-btn:active, #paper-btn:active, #scissors-btn:active, #play-again-button:active {
    background: #303338;
}

/* GitHub footer icon styling */
.fa-github {
    color: #F9FAF8;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
